<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Document</title>
</head>
<body>
<h1>Добро пожаловать в кредитную систему</h1>

<ul>
    <li><a href="/applications/new">Создать новую заявку</a></li>
    <li><a href="/applications/approved">Одобренные заявки (подписание)</a></li>
    <li><a href="/applications">Все заявки</a></li>
    <li><a href="/clients">Список клиентов</a></li>
    <li><a href="/applications/contracts">Подписанные кредитные договоры</a></li>
</ul>
</body>
</html>