<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Одобренные заявки</title>
</head>
<body>

<h2>Список одобренных заявок</h2>

<table>
    <thead>
    <tr>
        <th>Клиент</th>
        <th>Сумма</th>
        <th>Решение</th>
        <th>Подписание</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app : ${loans}">
        <td th:text="${app.client.fullName}">Имя</td>
        <td th:text="${app.desiredAmount}">Сумма</td>
        <td th:text="${app.decision.approvedAmount}">Одобрено</td>
        <td th:text="${app.decision.termInMonths}">Срок</td>
        <td>
            <span th:if="${app.contract != null and app.contract.signed}">Подписано ✅</span>
            <form th:if="${app.contract == null}"
                  th:action="@{/applications/{id}/sign(id=${app.id})}"
                  method="post">
                <button type="submit">Подписать</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<a href="/">⬅ На главную</a>

</body>
</html>
