<!-- templates/applications/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все заявки</title>
</head>
<body>
<h1>Все заявки</h1>

<table border="1">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Желаемая сумма</th>
        <th>Цель кредита</th>
        <th>Статус</th>
        <th>Дата заявки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app : ${loads}">
        <td th:text="${app.client.fullName}">ФИО</td>
        <td th:text="${app.client.phone}">Телефон</td>
        <td th:text="${app.desiredAmount}">Сумма заявки</td>
        <td th:text="${app.creditPurpose}">Цель кредита</td>
        <td>
            <span th:if="${app.decision != null and app.decision.approved}">Одобрено</span>
            <span th:if="${app.decision == null or not app.decision.approved}">Не одобрено</span>
        </td>
        <td th:text="${#temporals.format(app.createdAt, 'dd.MM.yyyy')}">Дата заявки</td>
    </tr>
    </tbody>
</table>

<br>
<a href="/applications/approved">Посмотреть одобренные заявки</a>

</body>
</html>
