<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Все заявки</title>
</head>
<body>
<a href="/" style="position: fixed">⬅ На главную</a>
<h1>Все заявки</h1>

<table border="1">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Желаемая сумма</th>
        <th>Цель кредита</th>
        <th>Статус</th>
        <th>Дата заявки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app : ${loans}">
        <td th:text="${app.client.fullName}">ФИО</td>
        <td th:text="${app.client.phone}">Телефон</td>
        <td th:text="${app.desiredAmount}">Сумма заявки</td>
        <td th:text="${app.creditPurpose}">Цель кредита</td>
        <td>
            <span th:if="${app.decision != null and app.decision.approved}" style="color: darkgreen">Одобрено</span>
            <span th:if="${app.decision == null or !app.decision.approved}" style="color: darkre">Не одобрено</span>
        </td>
        <td th:text="${#temporals.format(app.createdAt, 'dd.MM.yyyy')}">Дата</td>
    </tr>
    </tbody>
</table>

<br>
</body>
</html>
